text-hover()
  color white
  text-shadow 0 0 3px black
  cursor: pointer

.hidden
  display none !important

html
  height 100%
body
  height 100%
  margin 0
  padding 0
  font-family 'Raleway', sans-serif
  font-size 16px
  background: #fff  url("images/light-gray-micro-carbon.png")

.main-container
  width 80%
  margin auto
  display flex
  min-height 100%
  flex-direction column

.main-header-container
  display flex
  flex-direction row
  justify-content space-between
  background-color: rgba(255, 255, 255, 0.7)
  min-height header = 46px
  -webkit-border-radius: 4px
  -moz-border-radius: 4px
  margin 5px
  border-radius: 4px
  >.home-tag
    display flex
    padding 5px
    >a
      text-decoration none
      color black
      &:hover
        text-hover()
    p
      margin 5px
      font-family: 'Dancing Script', cursive
      font-size 26px
    >i
      display: block
      margin auto 5px
  >.profile-container
    position relative
    cursor pointer
    display flex
    flex-direction row
    flex-wrap wrap
    padding 5px
    box-sizing border-box
    max-height 52px
    >a
      line-height 32px
      text-decoration none
      color black
      margin 5px
      &:hover
        text-hover()
    >.profile-popup
      overflow hidden
      position absolute
      top 52px
      right 0
      display flex
      flex-direction column
      box-sizing border-box
      >a
        position relative
        transform translateX(115px)
        padding 0 15px
        background-color: #fff
        border-radius 30px
        line-height 32px
        text-decoration none
        color black
        margin 5px
        &:hover
          text-hover()
        >i
          margin-right 5px
    >.profile-data
      height 42px
      display flex
      background-color: #fff
      border-radius 30px
      padding 0 15px
      >.profile-img
        margin auto
        box-shadow black 0 0 5px
        display block
        min-width 36px
        min-height 36px
        max-width 36px
        max-height 36px
        border-radius: 50%
        -webkit-background-size: cover
        background-size: cover
      >p
        display block
        padding 0
        margin auto 5px

.main-body-container
  height 100%
  display flex
  justify-content: center
  >div
    background-color: rgba(255, 255, 255, 0.7)
    border-radius 4px
    margin 5px 5px
  >.center-body-container
    display flex
    flex-direction column
    padding 10px
    width 85%
    min-height 100%
  >.left-sidebar-container
    overflow hidden
    min-width 15%
    min-height 100%
    >.sidebar-accordion
      list-style none
      padding-left 0
      margin 20px 20px
      li
        padding 5px 0
        min-width 170px
        >i
          padding 5px
          box-sizing border-box
          width 28px
          height 26px
      li:hover
        text-hover()

.registration-container
  top 0
  left 0
  right 0
  bottom 0
  position absolute
  display flex
  background-color: rgba(115, 115, 115, 0.90)
  width 100%
  height 100%
  >form
    margin auto
    display flex
    flex-direction column
    padding 20px
    background-color: #fff
    >a
      text-decoration none
      color black
      width 28px
      &:hover
        text-hover()
    >h2
      text-align center
      margin 0
    >.registration-ul
      list-style none
      padding 0
      li
        padding 5px
      input
        height 28px
        width: 100%
        box-sizing border-box

.login-container
  top 0
  left 0
  right 0
  bottom 0
  position absolute
  background-color: rgba(115, 115, 115, 0.90)
  width 100%
  height 100%
  display flex
  justify-content center
  align-items center
  flex-direction column
  >form
    background-color: #fff
    padding 10px
    display flex
    flex-direction column
    width 250px
    >ul
      list-style none
      padding 0
      margin 0
      display flex
      flex-direction column
      box-sizing border-box
      >li
        width 100%
        padding 2px
        box-sizing border-box
        >input
          height 28px
          width 100%
          box-sizing border-box
    >a
      text-decoration none
      color black
      width 28px
      height 32px
      &:hover
        text-hover()
    >h2
      text-align center

input[type ='submit'],button[type='submit']
  margin-top 10px
  margin-bottom 5px
  height 30px
  align-self center
  width 50%
  padding 5px
  box-sizing border-box
  font-family 'Raleway', sans-serif
  font-size 16px
  border-radius 2px
  border-style none
  border-color none
  border-image none
  background-color: #c3c3c3
  &:hover
    background-color: #e1e1e1
    box-shadow  black 3px 3px 5px
    cursor pointer

.profile-form-container
  align-self center
  width 50%
  display flex
  flex-direction column
  >ul
    list-style none
    margin 0
    padding 0
